USE [FomemaMedicalCard]
GO
/****** Object:  Table [dbo].[CandidateDetails]    Script Date: 08-02-2021 17:22:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CandidateDetails](
	[SrNo] [int] IDENTITY(1,1) NOT NULL,
	[CandidateId] [int] NULL,
	[Covid19TestDate1] [datetime] NULL,
	[Covid19TestDate2] [datetime] NULL,
	[Covid19TestDate3] [datetime] NULL,
	[Covid19TestDate4] [datetime] NULL,
	[VaccineDose1Date] [datetime] NULL,
	[VaccineDose2Date] [datetime] NULL,
	[ClinicName] [varchar](200) NULL,
	[ClinicLocation] [varchar](300) NULL,
 CONSTRAINT [PK_CandidateDetails] PRIMARY KEY CLUSTERED 
(
	[SrNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CandidateMaster]    Script Date: 08-02-2021 17:22:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CandidateMaster](
	[CandidateId] [int] IDENTITY(1,1) NOT NULL,
	[CandidateGuid] [uniqueidentifier] NULL,
	[Name] [varchar](500) NULL,
	[DateofBirth] [datetime] NULL,
	[Age] [int] NULL,
	[NewPassportNo] [varchar](50) NULL,
	[OldPassportNo] [varchar](50) NULL,
	[PictureURL] [varchar](500) NULL,
	[CountryName] [varchar](200) NULL,
	[IsDeleted] [bit] NULL,
	[RedirectedPath] [varchar](500) NULL,
	[FomemaTestYear] [int] NULL,
	[FomemaTestResult] [varchar](30) NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_CandidateMaster_1] PRIMARY KEY CLUSTERED 
(
	[CandidateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FomemaUserLogin]    Script Date: 08-02-2021 17:22:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FomemaUserLogin](
	[UserId] [varchar](200) NOT NULL,
	[Password] [varchar](100) NOT NULL,
	[UserType] [int] NULL,
	[UserUniqueId] [varchar](50) NULL,
	[ClinicName] [nchar](200) NULL,
	[DoctorName] [nchar](200) NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_FomemaUserLogin] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[CandidateMedicalCardGetData]    Script Date: 08-02-2021 17:22:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CandidateMedicalCardGetData]
(
@CandidateGuid uniqueidentifier
)
AS
SELECT    candidatemst.candidateid, 
              candidatemst.NAME, 
              candidatemst.age, 
              candidatemst.newpassportno, 
              candidatemst.oldpassportno, 
              candidatemst.pictureurl, 
              candidatemst.countryname, 
              candidatemst.isdeleted, 
              candidatemst.redirectedpath, 
              candidatedet.srno, 
              candidatedet.candidateid, 
              candidatedet.covid19testdate1, 
              candidatedet.covid19testdate2, 
              candidatedet.covid19testdate3, 
              candidatedet.covid19testdate4, 
              candidatedet.vaccinedose1date, 
              candidatedet.vaccinedose2date, 
              candidatedet.clinicname, 
              candidatedet.cliniclocation 
    FROM      candidatemaster CandidateMst 
    LEFT JOIN candidatedetails CandidateDet 
    ON        candidatedet.candidateid = candidatemst.candidateid 
    WHERE    candidatemst.CandidateGuid = @CandidateGuid and IsDeleted = 0
GO
/****** Object:  StoredProcedure [dbo].[ClinicRegitrationSave]    Script Date: 08-02-2021 17:22:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Hiren Jasani
-- Create date: 24-01-2021
-- Description:	To Insert Fomema Clinic User
-- =============================================
CREATE PROCEDURE [dbo].[ClinicRegitrationSave]
	-- Add the parameters for the stored procedure here
	@ClinicName varchar(200),
	@DoctorName varchar(200),
	@DoctorsICNumber varchar(100),
	@Password varchar(100),
	@UserType int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO FomemaUserLogin(UserId,Password,ClinicName,DoctorName,UserType)values(@DoctorsICNumber,@Password,@ClinicName,@DoctorName,@UserType);

END
GO
/****** Object:  StoredProcedure [dbo].[GetCandidateDetails]    Script Date: 08-02-2021 17:22:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[GetCandidateDetails]
@PageIndex int,
@PageSize int,
@SortCol nvarchar(255) = NULL,
@SortDir nvarchar(10) = 'asc',
@Name  nvarchar(255) = NULL,
@Age int = 0,
@NewPassportNo nvarchar(255) = NULL ,
@OldPassportNo nvarchar(255) = NULL ,
@CountryName nvarchar(255) = NULL ,
@FomemaTestYear int = 0 ,
@FomemaTestResult  nvarchar(255) = NULL,
@UserType int = 2,
@SearchPassportNo nvarchar(255) = NULL
as
begin
    Declare @FirstRec int, @LastRec int
    Set @FirstRec = (@PageIndex - 1) * @PageSize;
    Set @LastRec = @FirstRec + @PageSize;
   
   if @UserType = 1
       With CTE_Candidates as
    (
         Select ROW_NUMBER() over (order by 

		 case when (@SortCol = '' and (@SortDir='asc' or @SortDir=''))
            then M.CandidateId
        end asc,
        case when (@SortCol = '' and @SortDir='desc')
            then  M.CandidateId
        end desc,

		 case when (@SortCol = 'Name' and @SortDir='asc')
            then M.Name
        end asc,
        case when (@SortCol = 'Name' and @SortDir='desc')
            then  M.Name
        end desc,

		case when (@SortCol = 'DateofBirth' and @SortDir='asc')
            then M.DateofBirth
        end asc,
        case when (@SortCol = 'DateofBirth' and @SortDir='desc')
            then  M.DateofBirth
        end desc,

		case when (@SortCol = 'Age' and @SortDir='asc')
            then M.Age
        end asc,
        case when (@SortCol = 'Age' and @SortDir='desc')
            then  M.Age
        end desc,

		case when (@SortCol = 'NewPassportNo' and @SortDir='asc')
            then M.NewPassportNo
        end asc,
        case when (@SortCol = 'NewPassportNo' and @SortDir='desc')
            then  M.NewPassportNo
        end desc,

		case when (@SortCol = 'OldPassportNo' and @SortDir='asc')
            then M.OldPassportNo
        end asc,
        case when (@SortCol = 'OldPassportNo' and @SortDir='desc')
            then  M.OldPassportNo
        end desc,

		case when (@SortCol = 'CountryName' and @SortDir='asc')
            then M.CountryName
        end asc,
        case when (@SortCol = 'CountryName' and @SortDir='desc')
            then  M.CountryName
        end desc,

		case when (@SortCol = 'FomemaTestYear' and @SortDir='asc')
            then M.FomemaTestYear
        end asc,
        case when (@SortCol = 'FomemaTestYear' and @SortDir='desc')
            then  M.FomemaTestYear
        end desc,

		case when (@SortCol = 'FomemaTestResult' and @SortDir='asc')
            then M.FomemaTestResult
        end asc,
        case when (@SortCol = 'FomemaTestResult' and @SortDir='desc')
            then  M.FomemaTestResult
        end desc
		
		)  as RowNum,
         COUNT(*) over() as TotalCount, 
			M.CandidateId, 
			M.CandidateGuid,
			M.Name, 
			M.DateofBirth, 
			M.Age, 
			M.NewPassportNo, 
			M.OldPassportNo, 
			M.PictureURL, 
			M.CountryName, 
			M.FomemaTestYear, 
			M.FomemaTestResult,
			D.Covid19TestDate1, 
			D.Covid19TestDate2, 
			D.Covid19TestDate3, 
			D.Covid19TestDate4, 
			D.VaccineDose1Date, 
			D.VaccineDose2Date, 
			D.ClinicName, 
			D.ClinicLocation
FROM     CandidateMaster as M 
inner join CandidateDetails as D 
on  M.CandidateId = D.CandidateId

         where 
			 (@Name IS NULL OR M.Name like '%' + @Name + '%') AND
			  (@Age = 0 OR M.Age = @Age) AND
			   (@NewPassportNo IS NULL OR M.NewPassportNo like '%' + @NewPassportNo + '%') AND
			    (@OldPassportNo IS NULL OR M.OldPassportNo like '%' + @OldPassportNo + '%') AND
				 (@CountryName IS NULL OR M.CountryName like '%' + @CountryName + '%') AND
				  (@FomemaTestYear = 0 OR M.FomemaTestYear  = @FomemaTestYear ) AND
				   (@FomemaTestResult = '' OR M.FomemaTestResult =  @FomemaTestResult ) AND
				    (M.IsDeleted = 0)
    )

    Select *
    from CTE_Candidates
    where RowNum > @FirstRec and RowNum <= @LastRec;

	
	else
	
	 With CTE_Candidates as
    (
         Select ROW_NUMBER() over (order by 
		  case when (@SortCol = '' and (@SortDir='asc' or @SortDir=''))
            then M.CandidateId
        end asc,
        case when (@SortCol = '' and @SortDir='desc')
            then  M.CandidateId
        end desc,

		 case when (@SortCol = 'Name' and @SortDir='asc')
            then M.Name
        end asc,
        case when (@SortCol = 'Name' and @SortDir='desc')
            then  M.Name
        end desc,

		case when (@SortCol = 'DateofBirth' and @SortDir='asc')
            then M.DateofBirth
        end asc,
        case when (@SortCol = 'DateofBirth' and @SortDir='desc')
            then  M.DateofBirth
        end desc,

		case when (@SortCol = 'Age' and @SortDir='asc')
            then M.Age
        end asc,
        case when (@SortCol = 'Age' and @SortDir='desc')
            then  M.Age
        end desc,

		case when (@SortCol = 'NewPassportNo' and @SortDir='asc')
            then M.NewPassportNo
        end asc,
        case when (@SortCol = 'NewPassportNo' and @SortDir='desc')
            then  M.NewPassportNo
        end desc,

		case when (@SortCol = 'OldPassportNo' and @SortDir='asc')
            then M.OldPassportNo
        end asc,
        case when (@SortCol = 'OldPassportNo' and @SortDir='desc')
            then  M.OldPassportNo
        end desc,

		case when (@SortCol = 'CountryName' and @SortDir='asc')
            then M.CountryName
        end asc,
        case when (@SortCol = 'CountryName' and @SortDir='desc')
            then  M.CountryName
        end desc,

		case when (@SortCol = 'FomemaTestYear' and @SortDir='asc')
            then M.FomemaTestYear
        end asc,
        case when (@SortCol = 'FomemaTestYear' and @SortDir='desc')
            then  M.FomemaTestYear
        end desc,

		case when (@SortCol = 'FomemaTestResult' and @SortDir='asc')
            then M.FomemaTestResult
        end asc,
        case when (@SortCol = 'FomemaTestResult' and @SortDir='desc')
            then  M.FomemaTestResult
        end desc
		 )  as RowNum,
         COUNT(*) over() as TotalCount, 
			M.CandidateId, 
			M.CandidateGuid,
			M.Name, 
			M.DateofBirth, 
			M.Age, 
			M.NewPassportNo, 
			M.OldPassportNo, 
			M.PictureURL, 
			M.CountryName, 
			M.FomemaTestYear, 
			M.FomemaTestResult,
			D.Covid19TestDate1, 
			D.Covid19TestDate2, 
			D.Covid19TestDate3, 
			D.Covid19TestDate4, 
			D.VaccineDose1Date, 
			D.VaccineDose2Date, 
			D.ClinicName, 
			D.ClinicLocation
FROM     CandidateMaster as M 
inner join CandidateDetails as D 
on  M.CandidateId = D.CandidateId

         where 
			   ((@SearchPassportNo != '' AND M.NewPassportNo like '%' + @SearchPassportNo + '%') OR
			    (@SearchPassportNo  != '' AND M.OldPassportNo like '%' + @SearchPassportNo + '%')) AND
				  (M.IsDeleted = 0)				 
    )

    Select *
    from CTE_Candidates
    where RowNum > @FirstRec and RowNum <= @LastRec
	
end
GO
/****** Object:  StoredProcedure [dbo].[IUDSaveCandidateDetails]    Script Date: 08-02-2021 17:22:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,26-01-2021,>
-- Description:	<Description,This will manage Insert update delete of candidate master and child table,>
-- =============================================
CREATE PROCEDURE [dbo].[IUDSaveCandidateDetails]
	-- Add the parameters for the stored procedure here
	@DataOperationMode int, -- Insert = 10,Update = 20,Delete = 30
	@CandidateId int = null,
	@CandidateGuid uniqueidentifier = null,
	@Name varchar(500) = null,
	@DateofBirth datetime = null,
	@Age int = null,
	@NewPassportNo varchar(50)= null,
	@OldPassportNo varchar(50)= null,
	@PictureURL varchar(max) = null,
	@CountryName varchar(200) = null,
	@IsDeleted bit = null,
	@RedirectedPath varchar(500) = null,
	@FomemaTestYear int = null,
	@FomemaTestResult varchar(30)= null,
	@CreatedBy int= null,
	@CreatedDate datetime = null,
	@ModifiedBy int = null,
	@ModifiedDate datetime = null,
	--- Child table fields
	@Covid19TestDate1 datetime = null,
	@Covid19TestDate2 datetime = null, 
	@Covid19TestDate3 datetime = null,
	@Covid19TestDate4 datetime = null,
	@VaccineDose1Date datetime = null,
	@VaccineDose2Date datetime = null,
	@ClinicName       varchar(200)= null,
	@ClinicLocation   varchar(300)= null
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @AffectedRows INT
	if(@DataOperationMode = 10)
	Begin
		-- Insert statements for procedure here
		INSERT INTO CandidateMaster 
		Output Inserted.CandidateId
		values(@CandidateGuid,@Name,@DateofBirth,@Age,@NewPassportNo,@OldPassportNo,@PictureURL,@CountryName,@IsDeleted,
		@RedirectedPath,@FomemaTestYear,@FomemaTestResult,@CreatedBy,@CreatedDate,@ModifiedBy,@ModifiedDate);
		
		Insert Into CandidateDetails
		values(SCOPE_IDENTITY(),@Covid19TestDate1,@Covid19TestDate2,@Covid19TestDate3,@Covid19TestDate4,@VaccineDose1Date,@VaccineDose2Date,
			   @ClinicName,@ClinicLocation)
	End
	Else if(@DataOperationMode = 20)
	Begin
		Update CandidateMaster set
			Name = @Name,DateofBirth=@DateofBirth,Age=@Age,NewPassportNo=@NewPassportNo,OldPassportNo=@OldPassportNo,
			PictureURL=@PictureURL,CountryName=@CountryName,RedirectedPath=@RedirectedPath,FomemaTestYear=@FomemaTestYear,
			FomemaTestResult=@FomemaTestResult,ModifiedBy=@ModifiedBy,ModifiedDate=@ModifiedDate
		where CandidateId = @CandidateId

		Update CandidateDetails set
			Covid19TestDate1=@Covid19TestDate1,Covid19TestDate2=@Covid19TestDate2,
			Covid19TestDate3=@Covid19TestDate3,Covid19TestDate4=@Covid19TestDate4,VaccineDose1Date=@VaccineDose1Date,
			VaccineDose2Date=@VaccineDose2Date,ClinicName=@ClinicName,ClinicLocation=@ClinicLocation
		where CandidateId = @CandidateId
	End
	Else if(@DataOperationMode = 30)
	Begin
		--- delete
		Update CandidateMaster set
		IsDeleted = 1
		where CandidateId = @CandidateId
	END
	Select @@ROWCOUNT as Result;
End
GO
/****** Object:  StoredProcedure [dbo].[ValidateDoctorsICNumber]    Script Date: 08-02-2021 17:22:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[ValidateDoctorsICNumber]
(
@DoctorsICNumber nvarchar(200)
)
as
begin
select UserId from FomemaUserLogin where UserId=@DoctorsICNumber;
end;
GO
/****** Object:  StoredProcedure [dbo].[ValidateFomemaUser]    Script Date: 08-02-2021 17:22:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Mahendra Gohil
-- Create date: 09-01-2021
-- Description:	To Validate Fomema User
-- =============================================
CREATE PROCEDURE [dbo].[ValidateFomemaUser]
	-- Add the parameters for the stored procedure here
	@UserId varchar(200),
	@Password varchar(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	--DECLARE @Exists INT
 
   -- IF EXISTS(SELECT * FROM dbo.FomemaUserLogin WHERE [UserId] = @UserId AND [Password] = @Password)
   --   BEGIN
   --         SET @Exists = 1
   --   END
   --   ELSE
   --   BEGIN
   --         SET @Exists = 0
   --   END

	  --SELECT @Exists as Result
	  SELECT UserUniqueId,UserType FROM dbo.FomemaUserLogin WHERE [UserId] = @UserId AND [Password] = @Password;
END
GO
